<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  <servlet>
  	<servlet-name>ServletConnexion</servlet-name>
  	<servlet-class>be.BiscontiLagneau.Servlet.ServletConnexion</servlet-class>
  	<init-param>
  		<param-name>ErreurInami</param-name>
  		<param-value>Un code Inami doit contenir 11 caractères</param-value>
  	</init-param>
  	<init-param>
  		<param-name>ErreurMdp</param-name>
  		<param-value>Un mot de passe doit contenir 3 caractères minimum</param-value>
  	</init-param>
  	<init-param>
  		<param-name>ErreurMedecin</param-name>
  		<param-value>Les identifiants ne correspondent à aucun compte</param-value>
  	</init-param>
  	<init-param>
  		<param-name>UrlConnexionOk</param-name>
  		<param-value>/Vues\\....jsp</param-value>
  	</init-param>
  	<init-param>
  		<param-name>UrlConnexionErreur</param-name>
  		<param-value>/Vues\\Connexion.jsp</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletConnexion</servlet-name>
  	<url-pattern>/ServletConnexion</url-pattern>
  </servlet-mapping>
  
</web-app>